<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Sales::sales" title="Sales">
                    <resource id="Ragu_ExportOrders::export" title="Export Orders"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
